@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans',cursive;
}

body{
    text-align: center;
    background: linear-gradient(to bottom, #abd0f5, #fff);
    min-height: 100vh;

}
main { 
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 425px;

}
.pokemon_image {
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 20%);
    height: 18%;
}